#main-navbar {  
  background-color: blue;
  position: relative;  
}

#navbar-container {
  text-align: center;
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-navbar ul li {
  display: block;
  float: left;
  left: 50%;
  right: 50%;
}

#main-navbar ul li a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}


#sidebar {
  background-color: red;
  position: fixed;
  height: 100%;
  width: 20%;
  right: 0%;
}


